[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib
[submodule "game-boy-test-roms"]
	path = game-boy-test-roms
	url = https://github.com/c-sp/game-boy-test-roms
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "sr_webcam"]
	path = sr_webcam
	url = https://github.com/kosua20/sr_webcam
